# Ignore Python bytecode files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
.venv/
env/
*.env

# Ignore IDE/editor configuration files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore Dockerfile itself, if it exists in the same directory
Dockerfile

# Ignore test or coverage files
*.coverage
tests/
MongoData

# Ignore backup files
*.bak
*.swp

# Ignore README.md file
README.md

# Ignore .gitignore file
.gitignore

# Ignore .dockerignore file
.dockerignore